.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--main-color);
    color: #fff;

    ul {
        margin: 0px 35px;
    }

    .logo {
        margin: 10px 25px 0 10px;
    }
}

.sidebar .nav-links li {
    font-family: 'DelaGothicOne', sans-serif;
    margin: 25px 0;
}